@model IEnumerable<Egreeting.Models.Models.Payment>

@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    ViewBag.Title = "Payment for subcriber";
}

@section styles {
    <style>
        body { margin-top:20px; }
        .panel-title {display: inline;font-weight: bold;}
        .checkbox.pull-right { margin: 0; }
        .pl-ziro { padding-left: 0px; }
        .validation-summary-errors {color: red;}
    </style>
}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category"
    style="background-image: url(../../../Content/User/img/background.jpg) !important;
    position: inherit; background-size: cover;
    background-repeat: no-repeat;
    background-position: center;">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Payment for subcriber</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payment</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading mb-3 align-self-xl-center" style="text-align: center" >
                        <h3 class="panel-title">
                            Payment Details
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/payments/subcriber" method="post">
                            @Html.ValidationSummary()
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="cardNumber">
                                    Card number
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="Valid Card Number"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">
                                    Subcriber's email
                                </label>
                                <div class="input-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="form-group">
                                        <label for="expityMonth">
                                            Expiry date
                                        </label>
                                        <div class="row">
                                            <div class="col-xs-6 col-lg-6">
                                                <input type="text" class="form-control" name="expityMonth" id="expityMonth" placeholder="MM" required />
                                            </div>
                                            <div class="col-xs-6 col-lg-6">
                                                <input type="text" class="form-control" name="expityYear" id="expityYear" placeholder="YY" required />
                                            </div>
                                        </div>
                                        <label for="cvCode" class="mt-2">
                                            CV CODE
                                        </label>
                                        <div class="row">
                                            <div class="col-xs-4 col-lg-4">
                                                <input type="password" class="form-control" name="CV" id="cvCode" placeholder="CV" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <button class="btn btn-success btn-lg btn-block" type="submit">Pay</button>
                        </form>
                    </div>
                </div>
                <br />
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->